
@{
    ViewBag.Title = "DisplayCollegeByAdmin";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<center>
    <h2>Colleges</h2>
    @if (TempData["Message"] != null)
    {
        <p>
            @TempData["Message"].ToString()
        </p>
    }
    @Html.ActionLink("Logout", "Login", "User")
    @Html.ActionLink("Create new College", "CreateCollege")
    <table>
        <thead>
            <tr>
                @foreach (System.Data.DataColumn col in Model.Columns)
                {
                    <th>@col.Caption</th>
                }
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@item.ToString()</td>
                    }
                    <td>
                        @Html.ActionLink("Edit", "EditCollege", new { collegeCode = row[0].ToString() })
                        @Html.ActionLink("Delete", "DeleteCollege", new { collegeCode = row[0].ToString() })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>


